$primaryColor: #290102; 
$secondaryColor: #fffdef;
$accentColor: #a7292f;
$greyColor: #ccc;

$defaultFont: "Urbanist", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;